body {

    font-family:'Arial Unicode MS';

    background-color:gray;

}

 

.panel-heading{

 

    font-size:14px;

  

}

.player-card{

 

    display:inline-block;

    border-style: solid;

    border-width: 2px;

    border-color: lawngreen;

    font-weight: bold;

    background-color:black;

    color:white;

    margin-left: 5px;

    margin-right:5px;

    }

.player-card > img{

 

    margin-left: 15px;

    margin-right: 15px;

    margin-top: 15px;

    margin-bottom:15px;

    border-style: solid;

    border-color: white;

    border-width: 1px;

}

.player-card .delete{

  

    font-weight: bold;

    float: right;

    margin-top:5px;

    cursor:pointer;

    border-style: solid;

    border-width: 1px;

    margin-right: 5px;

}

 

.label label-success{

 

    font-size:24px;

 

 

}

 

.availablePlayerTable{

    width:50%;

    float: left;

    border-style: solid;

    border-color: white;

    border-width: 1px;

    background-color:lightgray

}

.lineupTable{

    width:50%;

    float: right;

    border-style: solid;

    border-color: white;

    border-width: 1px;

    background-color:lightgray

}